/* スマホ向けレイアウト */
@media screen and (max-width:670px) {
  .work{
    width: 100%;
  }

  .txt-contents {
    max-width: 95%;
    width: 100%;
    box-sizing: border-box;
    padding:0 16px;
    margin-bottom: 30px;
    margin:0 auto;
    }
}

@media screen and (min-width:670px) {
  .work{
    width:50%;
    margin-bottom:20px;
  }

  .txt-contents {
      max-width: 50%;
      width: 100%;
      box-sizing: border-box;
      margin-bottom: 30px;
      margin:0 auto;
    }

}
