*{
  box-sizing:border-box;
  font-family: europa, sans-serif,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic";
  font-style: normal;
  letter-spacing: 2px;
}

p{
  letter-spacing: 1px;
}

a{
  color:#1072de;
  text-decoration: none;
}

body {
    color: #333;
    margin: 0;
}

header{
  text-align: center;
  padding: 10px;
  background-color: #111111;
  background-size: cover;
  background-position: 50% 50%;
}

header ul{
  margin: 0;
  list-style-type: none;
  padding: 5px;
}

header li{
  display: inline-block;
  padding: 4px 8px;
  font-size: 15px;
}

header  li > a{
  text-decoration: none;
  color: gray;
  padding:18px
}

header li > a:hover{
  color: gray;
}

.greetings{
  padding: 20px 0px;
  height:200px;
  background-color: #111111;
  text-align: center;
}

.greetings h3{
  display:block;
  margin-top: 60px;
  color:white;
  background-color: #111111;
  font-weight: lighter;
}

.greetings h5{
  display:block;
  margin-top: 60px;
  color:white;
  font-weight: lighter;
}

.greetings p{
  font-size: 10px;
  color:white;
  font-weight: lighter;
}

.active_1{
  color:white;
}

.clear{
  clear:left;
}

.container{
  /* height:800px; */
  padding:30px 16px 35px;
  margin:30px auto;
  text-align: center;
}

.container h2{
  font-weight: 500;
}

.container p{
  font-size: 14px;
  line-height: 1.4;
}

.container h4{
  font-size: 15px;
  font-weight: 800;
  color:#464646;
  margin-top: 10px;
  margin-bottom: 0px;
}

.icon {
  border-radius: 70px;
}

.works{
  display:block;
}

.works h5{
  margin-top: 12px;
  margin-bottom:10px;
}

.work p{
  color: #8c8a8a;
  margin: 6px;
}

.work{
  float:left;
  padding:15px 15px;
  width:25%
}

.work h6{
  margin:0;
}

.profile{
  margin:0 auto;
}

.profile h3{
  margin: 0px;
}

.txt{
  display: inline-block;
   text-align: left;
   color: #5a5a5a;
   font-size: 14px;
   margin-bottom: 50px;
}

.sns{
  padding:10px;
}

.sns a{
  padding: 5px;
}

footer{
    font-size: 8px; /*フォントサイズの指定*/
    width: 100%;    /*横幅の指定*/
    text-align: center; /*文字の中央寄せ*/
    padding-top: 10px;  /*文字上部の余白指定*/
    padding-bottom: 10px;   /*文字下部の余白指定*/
    background-color: #111111;  /*背景色の指定*/
}
footer address{
    color: #fff;    /*文字色の指定*/
    letter-spacing: 1px;    /*文字と文字の間隔をあける*/
    font-style: normal; /*文字の斜体を取り消す*/
}


/* about要素 */
.about{
  width: 400px;
  margin: 0 auto 60px
}
.about p{
  text-align: auto;
}
.active_2{
  color:black;
}

.heading h2{
  margin: 8px;
  font-weight: 800;
}

.heading p{
  margin: 0px;
}

.btn{
  display: inline-block;
    line-height: 50px;
    padding: 0 30px;
    background-color: white;
    color: #111111;
    text-decoration: none;
    border: 2px solid #111111;
    border-radius: 2px;
    font-weight: bold;
    cursor: pointer;
    word-break: keep-all;
    font-size: 15px;
}
